/* Styles css ( mise en forme ) de ma double page */

/*
Fonts dispo :

OpenSans

DejaVuSansMono
DejaVuSans
DejaVuSerif
DejaVuSerif-condensed

*/

.page{
  font-family: "DejaVuSans";
  font-weight:normal;
  font-size: 13pt;
}

.droite{

  background-color: rgba(0, 0, 0, 0.12);
}


.gauche{
  background-color: rgba(0, 0, 0, 0.12);
}


h1{
  font-size:28pt;
  font-weight: lighter;
  text-align: center;
  text-decoration: underline;
}

h2{
  font-size:20pt;
  font-weight: lighter;
}

.red{
  color: rgb(255,0,0);
}

.gauche img{
  width:140mm;
}

.droite img{
  width:140mm;
}
