/* Styles css ( mise en forme ) de ma double page */

/*
Fonts dispo :

OpenSans

DejaVuSansMono
DejaVuSans
DejaVuSerif
DejaVuSerif-condensed

*/

.page{
  font-family: bagnard ;
  font-weight:normal;
  font-size: 14pt;
}

.droite{
}


.gauche{

}


h1{
  font-family: bagnard ;
  font-size:42pt;
  font-weight: lighter;
  text-align: center;
}

.gauche img{
  float: left;
  max-width:60%;
  margin-right: 10%;
}
.gauche img.A{
  float: left;
  max-width:60%;
  margin-right: 10%;
  margin-top: 5%;

}
.gauche img.B{
  float: left;
  max-width:60%;
  margin-right: 10%;
  margin-top: 1%;

}
.gauche img.C{
  float: left;
  max-width:100%;
  margin-right: 10%;
  margin-top: 1%;

}

.gauche p.a{
  margin-top: 50%;

}

.gauche p.b{
  clear: left;
  margin-top: 25%
}

.droite img {
  float: right;
  max-width:45%;
  margin-right: 0%;
  margin-top: 1%;
}

.droite p.a{
  margin-top: 20%;
}

.droite p.b{
  clear: left;
  margin-top: 0%
}
.droite img.A{
  float: right;
  max-width:35%;
  margin-right: 0%;
}

.droite img.B{
  float: left;
  max-width:35%;
  margin-right: 0%;
  clear: right;
  }

  .droite img.C{
    float: right;
    max-width:35%;
    margin-right: 0%;
    clear: right;
    margin-top: 20%;
    }

    .droite img.D{float: right;
    max-width:35%;
    margin-right: 0%;
    clear: right;
    }

    .droite img.E{float: right;
    max-width:35%;
    margin-top: 20%;
    float: left;
    }

    .droite p.C{
    clear: right;
    margin-right: 0%;}

    .droite p.d{clear: left;
    margin-left: 40%;
    margin-top: 15;}

  
