/* Styles css ( mise en forme ) de ma double page */

/*
Fonts dispo :

OpenSans

DejaVuSansMono
DejaVuSans
DejaVuSerif
DejaVuSerif-condensed

*/

.paper{
    background-color: rgb(0, 0, 0);
    color: white;
}


.page{

  font-family: "margin-bottom";
  color: white;
  font-weight:normal;
  font-size: 11pt;

text-align: center;

}

.droite{
}

.gauche{

}


h1{

  font-size:42pt;
  font-weight: bolder;
  color: white;


}

.gauche img{
  width:140mm;
}
