/* Styles css ( mise en forme ) de ma double page */

/*
Fonts dispo :

OpenSans

DejaVuSansMono
DejaVuSans
DejaVuSerif
DejaVuSerif-condensed

*/
.page{
  font-family: "DejaVuSerif";
  font-weight:normal;
  font-size: 12pt;
  text-align: center;
}

.droite{
}


.gauche{

}


h1{
  font-size:42pt;
  font-weight: lighter;
}

.gauche img{
  width:140mm;
}
