/* Styles css ( mise en forme ) de ma double page */

/*
Fonts dispo :

OpenSans

DejaVuSansMono
DejaVuSans
DejaVuSerif
DejaVuSerif-condensed

*/

.page{
  font-family: "DejaVuSans";
  font-weight:normal;
  font-size: 14pt;
}
.droite{
  background-image: url("images/etape0.jpg");
  background-size: contain;
  background-color: rgba(130, 200, 225, 1);
}
.gauche{
  background-color: rgba(11, 44, 250, 0.35);

}
h1{
  font-family: "Impact";
  text-decoration: underline;
  font-size:31.5pt;
  font-weight: bolder;
  color: rgb(19, 0, 200);
}
h2{
  font-size:20pt;
  font-weight: normal;
  text-align: center;
  color: rgb(250,13,27);
}

.boup{
  color: rgb(250, 75, 22);

}

.bloc1{
  width: 49%;
  float: left;
  text-align: justify;
  color: rgb(19, 19, 109);
}
.bloc2{
  width: 49%;
  float: right;
  text-align: justify;
  color: rgb(19, 19, 109);
}
.bloc3{
  width: 49%;
  float: left;
  text-align: justify;
  color: rgb(19, 19, 109);
}
.bloc4{
  width: 49%;
  float: right;
  text-align: justify;
  color: rgb(19, 19, 109);
}
.gauche img{
  width:140mm;
}
.gauche img.screen1{
  width: 90mm;
}
.gauche img.screen2{
  width: 90mm;
}
.gauche img.screen3{
  width: 90mm;
}
.gauche img.screen4{
  width: 90mm;
}
