body{
  background-color:rgb(57,57,57)
  /*hsla(270, 0%, 25%, .100);*/
}

.page{
  background-color:rgb(57,57,57)
}

li.modif{
  margin-left: 50%;
}

.gauche img{
  border: none;
    max-width: 60%;

}
.gauche img.z{
  max-width: 20%;/*adapter la taille de l'images*/
  float: left;
  margin-top: 5%;
  margin-right:5%;

}

.gauche img.a{
  max-width: 20%;/*adapter la taille de l'images*/
  float: right;
  margin-right:5%;

}

.gauche img.b{
  max-width: 40%;

}

.gauche img.c{
  max-width: 18%;
  margin: 1%;
  float: left;

}

.gauche p{
  color:rgb(255,255,255);
  text-align: right;
  font-family: FiraSans-Light;
  margin-right: 30%;
  font-size: 10pt;
}

.gauche p.un{
  margin-left: 5%;
  text-align: left;
  font-family: FiraSans-Light;
  width: 50%;


}

.gauche h1{
  color: rgb(255,255,255);
  /*font-style: oblique;*/
  font-family: FiraSans-Regular;
  font-size: 40px;
  /*font-weight: lighter;*/
  font-weight: 600;
  font-style: normal;
  text-align: left;
}
.gauche h2{
  color: rgb(255,255,255);
  font-family: FiraSans-Regular;
  font-size: 16pt;
  font-weight: 600;
  font-style: normal;
  text-align: left;
  float: right;
  clear: right;
}
.gauche h3{
  color: rgb(255,255,255);
  font-family: FiraSans-Regular;
  font-size: 16pt;
  font-weight: 600;
  font-style: normal;
  text-align: left;
  margin-top: 5%;
  margin-left: 5%;
}

.gauche ul{
  color: rgb(255,255,255);
  font-family: FiraSans-Light;
  font-size: 10pt;
  text-align: left;
  float: right;
  clear: right;
  max-width: 50%;

}

.droite h1{
  color: rgb(255,255,255);
  font-family: FiraSans-Regular;
  font-size: 16pt;
  font-weight: 600;
  font-style: normal;
  text-align: left;
  margin-top: 5%;
  margin-left: 5%;

}

.droite p{
  color:rgb(255,255,255);
  text-align: left;
  font-family: FiraSans-Light;
  margin-left: 5%;
  font-size: 10pt;
}

.droite img.a{
  max-width: 30%;
  float: left;
}

.droite img.b{
  max-width: 20%;
  float: left;
}

.droite img.c{
  max-width: 50%;
  float: left;
}

.droite p.b{
  color:rgb(255,255,255);
  text-align: left;
  margin-left: 5%;
  font-size: 10pt;
  margin-top: 30%;
  clear: left;
}
.droite p.c{
  color:rgb(255,255,255);
  text-align: left;
  margin-left: 5%;
  font-size: 10pt;
  margin-top: 22%;

}

.droite img.d{
  max-width: 50%;
  float: right;
  margin-top: 15%;
}

.droite img.e{
  max-width: 100%;
}

.droite p.f{
  color:rgb(255,255,255);
  text-align: left;
  margin-left: 5%;
  font-size: 10pt;
  margin-top: 20%;
  clear: both;
}
