/*

Fonts dispo :


OpenSans


DejaVuSansMono

DejaVuSans

DejaVuSerif

DejaVuSerif-condensed


*/


.page{

  font-family: "Trajan Pro";

  font-weight:normal;

  font-size: 10pt;

  text-align: center;

}


.droite{


}



.gauche{



}

h1{

  font-size:30pt;

  font-weight: lighter;

  text-align: center;

  margin-bottom: 10%;
  font-family: fantasy;
  font-style: italic;

}
p{
  font-size: 10pt;
  margin-bottom: 10%;
}

.gauche img.z{

  width: 50%;
  margin-left:10%;

}



.droite img.a{

  width:90%;

  margin-top: 5%;
  margin-bottom: 20%;
  margin-left: 4%;

}
.droite img.b{
  width:110%;
  margin-top:5%;
  margin-bottom:5%;
  margin-left: 8%;
}
