/* Styles css ( mise en forme ) de ma double page */

/*
Fonts dispo :

OpenSans

DejaVuSansMono
DejaVuSans
DejaVuSerif
DejaVuSerif-condensed

*/

.page{
  font-family: "Helvetica";
  font-weight:normal;
  font-size: 11pt;
}

.droite{
  background-color: rgb(0,0,0)
}
.white{
  color: rgb(255,255,255)
}

.gauche{
  background-color: rgb(0,0,0)

}


h1{
  font-size:42pt;
  font-weight: lighter;
}

.gauche img.taille{
  width:140mm;

}

.droite img.autre{
    width:90mm;
  }
