/* Styles css ( mise en forme ) de ma double page */

/*
Fonts dispo :

OpenSans

DejaVuSansMono
DejaVuSans
DejaVuSerif
DejaVuSerif-condensed

*/

.page{
  font-family: "DejaVuSans";
  font-weight:normal;
  font-size: 10pt;
}

.droite{
}


.gauche{

}


h1{
  font-size:42pt;
  font-weight: lighter;
}

.gauche img{
  width:140mm;
}h1{
  font-size:9pt;
  font-weight: lighter;
}

h2{

.gauche img{
  width:140mm;
}h2{
  font-size:20pt;
  font-weight: lighter;
}
