/* Styles css ( mise en forme ) de ma double page */

/*
Fonts dispo :

OpenSans

DejaVuSansMono
DejaVuSans
DejaVuSerif
DejaVuSerif-condensed

*/

.page{
  font-family: "Lucida";
  font-weight:bold;
  font-size: 15pt;
  background-color: #1ae8f5;
  background-color: rgb(255, 255, 128);

}

.droite img{
  width : 70mm;
  float: right;

}



.gauche img{
  width : 50mm;
}


h1{
  font-size:30pt;
  font-weight: bold;
  color: black;
}

p{
    font-size:16pt;
    font-weight: medium;
    color: black;
}


h2{
  font-size:13pt;
  font-weight: lighter;
color: black;
}

h3{
  font-size:13pt;
  font-weight: lighter;
color: black;
}
