*{
	border: 0px solid black;
}font-size: 8px;

.ver{
	font-size: 18px;
	
	
}
h1{
  font-size:42pt;
  font-weight: lighter;
}
.page{
  font-family: "DejaVuSans";
  font-weight:normal;
  font-size: 8pt;
}

.droite{
	}

.gauche {
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}
.one {font-size: 8px;
  grid-column: 1/3;
  grid-row: 1;
}
.two { 
  grid-column: 3 ;
  grid-row: 1 ;
}
.three {font-size: 8px;
  grid-column: 4/6;
  grid-row: 1;
}
.four {font-size: 8px;
  grid-column: 2;
  grid-row: 2 ;
}
.five {font-size: 8px;
  grid-column: 3 / 5;
  grid-row: 2;
}
.six {
  grid-column: 5 / 7;
  grid-row: 2;
}
.seven {
  grid-column: 1;
  grid-row: 3;
}
.height {
  grid-column:  2 / 5;
  grid-row: 3 / 5;
}
.nine {
  grid-column: 5;
  grid-row: 3;
}
.ten {
  grid-column: 6;
  grid-row: 3;
}
.eleven{
  grid-column: 6;
grid-row: 4;
}}