*{
	border: 0px solid black;
}
.ver{
	font-size: 18px;
}

h1{
  font-size:42pt;
  font-weight: lighter;
}
.page{
  font-family: "DejaVuSans";
  font-weight:normal;
  font-size: 9pt;
}

.droite{
	}

.gauche {
}

.wrapper {
	 font-family: "DejaVuSans";
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}
.one {font-size: 11px;
  grid-column: 1/3;
  grid-row: 1;
}
.one2 {font-size: 11px;
  grid-column: 1/3;
  grid-row: 1;
}

.one3 {font-size: 11px;
  grid-column: 1/4;
  grid-row: 2;
}
.one4 {font-size: 11px;
  grid-column: 2/5;
  grid-row: 1;
}
.two { font-size: 11px;
  grid-column: 3 ;
  grid-row: 1 ;
}
.two2 { font-size: 11px;
  grid-column: 2/4 ;
  grid-row: 2 ;
}
.two3 { font-size: 11px;
  grid-column: 4/6 ;
  grid-row: 2/4 ;
}
.two4 { font-size: 11px;
  grid-column: 1/4 ;
  grid-row: 2/4 ;
}
.three {font-size: 11px;
  grid-column: 4/6;
  grid-row: 1;
}
.three2 {font-size: 11px;
  grid-column: 5/7;
  grid-row: 2;
}
.three4 {font-size: 11px;
  grid-column: 5/8;
  grid-row: 2;
}
.four {font-size: 11px;
  grid-column: 2;
  grid-row: 2 ;
}
.four3 {font-size: 11px;
  grid-column: 1/4;
  grid-row: 4 ;
}
.four4 {font-size: 11px;
  grid-column: 5/7;
  grid-row: 4 ;
}
.five {font-size: 11px;
  grid-column: 3 / 5;
  grid-row: 2;
}
.five3 {font-size: 11px;
  grid-column: 5 / 7;
  grid-row: 4;
}
.five4 {font-size: 11px;
  grid-column: 1 / 6;
  grid-row: 5;
}
.six {font-size: 11px;
  grid-column: 5 / 7;
  grid-row: 2;
}
.seven {font-size: 11px;
  grid-column: 1;
  grid-row: 3;
}
.height {font-size: 11px;
  grid-column:  1 / 3;
  grid-row: 3 / 5;
}
.nine {font-size: 11px;
  grid-column: 3/6;
  grid-row: 3;
}
.ten {font-size: 11px;
  grid-column: 6;
  grid-row: 3;
}
.eleven{font-size: 11px;
  grid-column: 6;
grid-row: 4;
}
