/* Styles css ( mise en forme ) de ma double page */

/*
Fonts dispo :

OpenSans

DejaVuSansMono
DejaVuSans
DejaVuSerif
DejaVuSerif-condensed

*/
h1{
  font-family: "Futura Hv Bt";
  font-size: 14pt;
  text-align: center;
}

.body{
  font-family: "Futura Lt Bt";
  font-weight:normal;
  font-size: 12pt;
  text-align:justify;
}

h1{
	font-family: "Futura Hv Bt";
	font-size:35pt;
	font-weight: bolder;
	text-align: center
}

.body{
	font-family: "Futura Lt bt";
	font-weight:normal;
	font-size: 12pt;
	text-align:justify
}

.droite{
	background-color: rgba(255, 145, 123, 2.90);
}

.gauche{
	background-color: rgba(255, 207, 100, 2.90)
}

.droite img{

	width:74mm;
	height:105mm
}

.gauche img{
	width:74mm;
	height:105mm
}

/* Propriétés Images */

#image1{
	text-align:center
}

#image2{
	text-align:center
}

#image3{
	text-align:center
}

#image4{
	height: 40mm;
	text-align:center
}

#centrage_images{
	text-align:center
}
