/* Styles css ( mise en forme ) de ma double page */

/*
Fonts dispo :

OpenSans

DejaVuSansMono
DejaVuSans
DejaVuSerif
DejaVuSerif-condensed

*/

.page{
  font-family: "DejaVuSans";
  font-weight:normal;
  font-size: 14pt;
}

.droite{

background-color: rgb(0, 0, 0);

}


p{

}

.explications2{
  color: rgb(0,0,255);
  font-size: 11pt;
  text-align: justify,left;
}

.gauche{

  background-color: rgb(0,0,255)

}


h1{
  font-size:42pt;
  font-weight: lighter;
  color: rgba(0,0,0,0.30);
  text-align: center;
}

p{
  font-size: 15pt;
  color: rgba(0,0,0,0.60);
  text-align: center;
}

.explications{
  color: rgb(0,0,0);
  font-size: 11pt;
  text-align: justify,left;
}

.gauche img{
  width:120mm;
}

.droite
img{
  width:120mm;
}
