/* Styles css ( mise en forme ) de ma double page */

/*
Fonts dispo :

OpenSans

DejaVuSansMono
DejaVuSans
DejaVuSerif
DejaVuSerif-condensed

*/

.page{
  font-family: "DejaVuSans";
  font-weight:normal;
  font-size: 14pt;

}

.droite{
    background-color:black
}


.gauche{
    background-color:black

}
.body{
  background-color:black
}

.gauche{
  float: right;
}
h1{
  font-size:25pt;
  font-weight: lighter;
}
h2{
  font-size:16pt;
  font-weight: lighter;
}

.rouge{
  color: rgb(255,0,0);
}
.rose{
color: rgb(55,152, 0);
}
.gauche img.fleur{
  width:50mm;
}
.gauche img.carte{
  width:50mm;
  float: right;
}
.gauche img.taille{
  width: 65mm;
}


.droite img{
  width:100mm;
  }
  .bleu{
    color: rgb(0,0,255);
  }
  .droite img.taille{
    width: 65mm;
  }
  .gib{
  color: rgba(255, 0, 50, 0.5);
  }
