/* Styles css ( mise en forme ) de ma double page */

/*
Fonts dispo :

OpenSans

DejaVuSansMono
DejaVuSans
DejaVuSerif
DejaVuSerif-condensed

*/

.page{
  font-family: "DejaVuSans";
  font-weight:normal;
  font-size: 11pt;
  color: white;
  background-image: url("images/espace.jpg");
}

.droite img{
  width:60mm;
  height:40mm;
}

.gauche img{
  width:60mm;
}

h1{
  font-size:42pt;
  font-weight: bolder;
  color: white;
}

img.chapoing{
  width:20mm;
}

img.chabou{
  display: block;
  margin: 0 auto;
  width:150mm;
}

img.dabou{
  display: block;
  margin: 0 auto;
  width:100mm;
  height:100mm;
}
img.bouya{
  display: block;
  margin: 0 auto;
  width:100mm;
  height:50mm;
}

.bloc1{
  width:70%;
  margin:0 auto;
  text-align: justify;
  color: white;
}

.bloc2{
  width:70%;
  margin:0 auto;
  text-align: justify;
  color: white;
}

.bloc3{
  width:70%;
  margin:0 auto;
  text-align: justify;
  color: white;
}

.bloc4{
  width:70%;
  margin:0 auto;
  text-align: justify;
  color: white;
}
