/* Styles css ( mise en forme ) de ma double page */

/*
Fonts dispo :

OpenSans

DejaVuSansMono
DejaVuSans
DejaVuSerif
DejaVuSerif-condensed

*/

.page{
  font-family: "DejaVuSans";
  font-weight:normal;
  font-size: 12pt;
}

p{
  text-align:justify;
}

.droite{
background-color: #3f3e3d;

font-family: "DejaVuSans";
font-weight:normal;
font-size: 12pt;
}



.gauche{
background-color: #3f3e3d;

  font-family: "DejaVuSans";
  font-weight:normal;
  font-size: 12pt;
}

.gauche img.A{
  max-width: 20%;/*adapter la taille de l'images*/
  float: left;
  margin-top: 5%;
  margin-right:5%;
}

h1{
  font-size:42pt;
  font-weight: lighter;
  color: #ffffff;
}

p{
  font-size: 12pt;
  color: #ffffff;
}

body #pages .paper .gauche img{
  width:140mm;
}

.droite
img{
  width:60mm;
}
  p{
    font-size: 12pt;
    color: #ffffff;
  }
