/* Styles css ( mise en forme ) de ma double page */

/*
Fonts dispo :

OpenSans

DejaVuSansMono
DejaVuSans
DejaVuSerif
DejaVuSerif-condensed

*/

.droite{
  font-family: "OpenSans";
  font-weight:normal;
  font-size: 12pt;
  line-height: 12pt;
    background-color: rgb(119, 181, 254);
}

.droite img.a{
      float: right;
      max-width: 350px;
      min-height: 200px;
      margin-left:5%;margin-bottom: 10%;margin-top: 5%;
}

.droite img.i{
  float:right;
  width: 350px;
  min-height: 200px;
  margin-left: 5%;
}

p.p3{
  font-family: "DejaVuSansMono";
  font-style: oblique;
  font-size: 12pt;
  font-weight: bold;
  margin-top: 5%;
  margin-left: 2%;
  color: rgb(250, 250, 250);
}
p.p4{
  font-family:"DejaVuSansMono";
  font-style: oblique;
  font-size: 12pt;
  font-weight: bold;
  margin-left: 2%;margin-top: 21%;
  color: rgb(250, 250, 250);
}
p.par-4{
  font-family: "DejaVuSerif";
  font-style: normal;
  font-weight: normal;
font-size: 11pt;
line-height: 12pt;
text-align: justify;
margin-right: 17%; margin-left: 5%;margin-top: 3%;
margin-bottom: 10%
}
p.par-5{
  font-family: "DejaVuSerif";
  font-style: normal;
  font-weight: normal;
font-size: 11pt;
line-height: 12pt;
text-align: justify; margin-left: 5%;margin-top: 5%;
}

.gauche{
  font-family: "DejaVuSerif";
  line-height: 13pt;
  background-color: rgb(119, 181, 254);
}
.gauche img.b{
  float: right;
  max-width: 350px;
  min-height: 200px;
  margin-top: 1%;
  margin-left:5%;margin-bottom: 8%;
}
.gauche img.f{
  float: right;
  max-width: 350px;
  min-height: 200px;
  margin-top: 1%;margin-left:5%;margin-bottom: 7%;
}
.gauche img.d{
  float:right;
  width: 350px;
  height:230px;
  margin-left:5%;margin-bottom: 10%;
  }

h1{
  font-family: "DejaVuSansMono";
  font-size:30pt;
  font-weight:bolder;
  color: rgb(0, 51, 102);
  align-self: center;
  justify-content: center;
  margin: 20px 50px 50px;
  margin-left: 13%;
}
p.p1{
  font-family: "DejaVuSansMono";
  font-style: oblique;
  font-size: 12pt;
  font-weight: bold;
  margin-left: 2%;margin-right: 50%;
  color: rgb(250, 250, 250);
}

p.p2{
  font-family: "DejaVuSansMono";
  font-style: oblique;
  font-size: 12pt;
  font-weight: bold;
  margin-left: 2%;margin-right: 50%; margin-top: 5%;
  color: rgb(250, 250, 250);
}
p.par-1{
  font-style: normal;
  font-size: 11pt;
  line-height: 12pt;
  text-align: justify;
 margin-left: 5%; margin-right: 17%;
}
p.par-2{
  font-style: normal;
  font-size: 11pt;
  line-height: 12pt;
  text-align: justify;
margin-right: 17%; margin-left: 5%;margin-top: 3%;
}
p.par-3{
  font-style: normal;
  font-size: 11pt;
  line-height: 12pt;
text-align: justify;
margin-left: 5%;margin-top: 9%;
}
p.par-6{
  font-size: 14pt;
  font-weight:bolder;
  margin: 30px 0px 50px;
  margin-left: 4%;margin-right: 40%;

}
