/* Styles css ( mise en forme ) de ma double page */

/*
Fonts dispo :

OpenSans

DejaVuSansMono
DejaVuSans
DejaVuSerif
DejaVuSerif-condensed

*/

.page{
  font-family: "DejaVuSansMono";
  font-weight:normal;
  font-size: 10pt;
}

.droite{
}


.gauche{


}


h1{
  font-size:38pt;
  font-weight: lighter;
}

.gauche img{
  width:50mm;
}
.droite img{
  width:80mm;
}
