<title>La cuisine de Mama Zoubida</title>

<head>
	<link rel="stylesheet" href="css/bootstrap.min.css"/>
	<link rel="stylesheet" href="css/style.css"/>
</head>

<body>


    <!-- PAGES -->
    <div id="pages">

      <div class="paper">
        <div class="page gauche">
          <div class="body">
						<!-- ton code va la -->

					</div>
				</div>
			</div>
			<div class="paper">
        <div class="page gauche">
          <div class="body">
						<!-- ton code va la -->

					</div>
				</div>
			</div>

		<div>


    <div class="container">
		<div class="first-spacer"></div>

		<h1 style="text-align:center;">Cuisine graphique</h1>

		<div class="spacer"></div>

		<p style="margin-bottom: 0px;">Pour creer une recette authentique et original,
			 il vous faudra tout dabord	creer un image a partir d'un logiciel libre,
			  ici j'ai choisi Insckape, de la j'ai creer des formes en volume.
		Ceci est mon premier plan. Puis j'ai utilise le logiciel GIMP pour creer
		le fond de mon image, qui est ici simplement
	un degrade de couleur qui ressemble a une planete.</p>

	<div class="spacer"></div>

    <div class="row">
        <div class="col-5">
			<img src="img/1.png" class="img-fluid light-border">
		</div>
        <div class="col-7">
			<img src="img/2.png" class="img-fluid light-border">
		</div>
    </div>

	<div class="spacer"></div>

    <div class="row">
		<div class="col-8">
			<img src="img/3.png" class="img-fluid light-border">
		</div>
		<div class="col-4">
			<p style="margin-bottom: 0px;">Ensuite par la puissance de Pegase, j'ai assemble sur GIMP ces de images pour en former
			plus qu'une, grace a ce sulpterfuge j'ai pu creer une image qui commence a raconter quelque chose.
		On remarque la profonder qui est cree de par les volumes. C'est alors que mon esprit s'est souvenu de l'oeuvre de Escher,
	"relativity". </p>
		</div>
    </div>

	<div class="spacer"></div>

	<div class="row">
		<div class="col-6">
			<img src="img/4.png" class="img-fluid light-border">
		</div>
		<div class="col-6">
			<img src="img/5.png" class="img-fluid light-border">
		</div>
    </div>

	<div class="spacer"></div>

	<div class="row">
		<div class="col-8">
			<img src="img/6.png" class="img-fluid light-border">
		</div>
		<div class="col-4">
			<p style="margin-bottom: 0px;">J'ai realise sur le logiciel Krita mon troisieme plan, j'ai fait des etoiles et une planete,
			cela permet de mieux comprendre ou se passe l'image.
		Sur paint tool Sai j'ai fait mes personnages, qui sont sur deux gravitees differentes. Puis sur Darktable j'ai attenue les couleurs</p>
		</div>
    </div>

	<div class="spacer"></div>

	<div class="row">
		<div class="col-12">
		<img src="img/7.png" class="img-fluid light-border">
		</div>
    </div>
</body>
