

.premier{
		
		font-size: 100;
		color: rgb(255,255,0);
		
	}
	
	

.deuxieme{
		
		font-weight: bolder;
		color: rgb(0,255,0);
		
	}
	.sixieme{
		font-size: 40;
		font-weight: bolder;
		color: rgb(255,50,50);
		
	}
	.cinquieme{
		font-size: 15;
		font-weight: lighter;
		color: rgb(180,120,180);
		
	}
