/* Styles css ( mise en forme ) de ma double page */

/*
Fonts dispo :

OpenSans

DejaVuSansMono
DejaVuSans
DejaVuSerif
DejaVuSerif-condensed

*/

.page{
  font-family: "DejaVuSerif";
  font-weight:normal;
  font-size: 12pt;
  color: Black;
}


.droite img.f{
  width:140mm;
  margin-left: 13%;
  margin-top: 7%;
}

.droite img.i{
  width:65mm;
  margin-left: 6%;

}

.gauche{

}


h1{
  font-size:42pt;
  font-weight: lighter;
  margin-left: 5%

}

.gauche img.a{
  width:70mm;
  float: right;
  margin-right: 3.5%;
  margin-left: 3.5%;
  margin-bottom: 2.5%;
}

.gauche img.b{
  width:90mm;
  margin-left: 5%
}
.gauche img.c{
  width:58mm;
  margin-left: 2.3%
}

.gauche img.d{
  width:57mm;
  margin-left: 2%
}
.gauche img.e{
  width:54mm;
  margin-left: 2%
}

.gauche p.aa{
  margin-left: 5%;
}
.gauche p.ab{
  margin-left: 5%;
  margin-right: 3.5%;
}

.gauche p.ac{
  margin-left: 5%;
  margin-right: 3.5%;
}

.gauche p.t{
  margin-left: 2%;
  margin-right: 3.5%;
}

.droite p.ad{
  margin-left: 5%;
  margin-right: 3.5%;
}

.droite img.g{
  width: 90mm;
  margin-right: 6%;
  float: right;
}

.droite img.h{
  width: 65mm;
  margin-left: 6%;
  margin-top: 5%;
}
