// TUTO CSS






on va aller chercher les éléments du HTML, les pointer et leur donner des propriétés.

p{
	
}
	color: red; 
	
	.roug{
		
	}
	
	.jon{
		
		font-weight: bolder;
		color: rgb(255,255,0);
		
	}
	
	.ble{
		text-decoration: underkine;
		
		
	
	
}


		

.ver{
	font-size: 75px;
	
	
}

img{
	max-width: 100%; (relatif à la fenêtre)
	
}

h1{
	font-size: 75px;
	
	
}

/* .page.gauche{} : choper tous les éléments avec la classe page ET la classe gauche.