/* Styles css ( mise en forme ) de ma double page */

/*
Fonts dispo :

OpenSans

DejaVuSansMono
DejaVuSans
DejaVuSerif
DejaVuSerif-condensed

*/

.page{
  font-family: "arial";
  font-weight:normal;
  font-size: 11pt;
}

.droite{}

.gauche{}

h1{
  font-size:42pt;
  font-weight: lighter;
  }

p.p1{
  font-size: 12pt;
  font-weight: bold;
  margin-left: 2%;
  margin-right: 50%;
}

p.par-1{
  font-style: normal;
  font-size: 11pt;
  line-height: 12pt;
  text-align: justify;
  margin-left: 5%;
  margin-right: 17%;
  margin-top: 10%;
}
p.par-2{
  font-style: normal;
  font-size: 11pt;
  line-height: 12pt;
  text-align: justify;
  margin-right: 17%;
  margin-left: 5%;
  margin-top: 3%;
}
p.par-3{
  font-style: normal;
  font-size: 11pt;
  line-height: 12pt;
  text-align: justify;
  margin-left: 5%;
  margin-top: 20%;
  margin-right: 17%;
  margin-bottom: : 17%;
}
p.par-4{
  font-style: normal;
  font-size: 11pt;
  line-height: 12pt;
text-align: justify;
margin-left: 5%;
margin-top: 3%;
margin-right: 17%;
}
p.par-5{
  font-style: normal;
  font-size: 11pt;
  line-height: 12pt;
text-align: justify;
margin-left: 5%;
margin-top: 18%;
margin-right: 17%;
}
p.par-6{
margin-right: 17%;
}

p.par-7{
  font-style: normal;
  font-size: 11pt;
  line-height: 12pt;
  text-align: justify;
  margin-left: 5%;
  margin-top: 35%;
  margin-right: 17%;
}

p.par-8{
  font-style: normal;
  font-size: 11pt;
  line-height: 12pt;
  text-align: justify;
  margin-left: 5%;
  margin-right: 17%;
}

p.par-9{
  font-style: normal;
  font-size: 11pt;
  line-height: 12pt;
  text-align: justify;
  margin-left: 5%;
  margin-right: 17%;
  margin-top: 35%;
}

.gauche img.a{
  float: left;
  max-width: 200px;
  min-height: 200px;
  margin-top: 5%;
  margin-left:5%;
  margin-right:5%;
  margin-bottom: 8%;
}
.gauche img.b{
  float: left;
  max-width: 200px;
  min-height: 200px;
  margin-top: 15%;
  margin-left:-33%;
  margin-bottom: 7%;
    margin-right:5%;
}
.gauche img.c{
  float: left;
  width: 200px;
  height:200px;
  margin-top: 12%;
  margin-left:-33%;
  margin-bottom: 10%;
    margin-right:5%;
  }

  .droite img.d{
    float: left;
    width: 200px;
    height:200px;
    margin-top: 32%;
    margin-left:5%;
    margin-bottom: 10%;
      margin-right:5%;
    }
