/* Styles css ( mise en forme ) de ma double page */

/*
Fonts dispo :

OpenSans

DejaVuSansMono
DejaVuSans
DejaVuSerif
DejaVuSerif-condensed

*/
.paper{

}
.page{
  font-family: "DejaVuSerif-condensed";
  font-weight:normal;
  font-size: 12pt;
}

.droite{
    background-size: cover;
    background-color: rgba(205, 205, 205, 0.5);
}


.gauche{
    background-size: cover;
    background-color: rgba(205, 205, 205, 0.5);
}


h1{
  font-size:28pt;
  font-weight: lighter;
  color: rgb(255,255,255);
}

h2{
  font-size:20pt;
  font-weight: lighter;
}

.blue{
  color: rgb(0,0,255);
}

.gauche img{
  width:100mm;
}

.droite img.changer{
  width:100mm;
}

.droite img.taille{
  width:30mm;
}

p{
  color: rgb(255,255,255);
}
