/* Styles css ( mise en forme ) de ma double page */

/*
Fonts dispo :

OpenSans

DejaVuSansMono
DejaVuSans
DejaVuSerif
DejaVuSerif-condensed

*/

.page{
  font-family: "Arial";
  font-weight:normal;
  font-size: 14pt;
  background-color: white;
}

.droite{

}


.gauche p.un{
  margin-left: 26%;

}

.gauche p.deux{
  margin-top: 10%;
  float: right;

}

.gauche ul.trois{
  margin-top: 15%;
  float: right;
  font-size: 10pt;

}

.gauche h1{
  font-size:42pt;
  font-weight: lighter;
}

.gauche img.a{
  margin-left: 26%;
  max-width: 60%;
  float: left;
}

.gauche img.b{
  margin-top: 10%;
  margin-left: 3%;
  max-width: 15%;
  float: right;
}

.gauche img.c{
  margin-left: 3%;
  margin-top: 10%;
  max-width: 5%;
  float: right;

}

.droite h2{
font-size:20pt;
margin-left: 10%;

}

.droite img.d{
  margin-left: 3%;
  margin-top: 10%;
  max-width: 40%;
  float: left;

}

.droite p.quatre{
  margin-top: 10%;
  margin-left: 3%;
  float: left;

}

.droite ul.cinq{
  margin-top: 1%;
  margin-left: 1%;
  float: left;
  font-size: 10pt;
  max-width: 45%

}

.droite img.e{
  margin-left: 3%;
  margin-top: 6%;
  max-width: 40%;
  float: left;

}

.droite p.six{
  margin-top: 7%;
  margin-left: 3%;
  float: left;

  }

  .droite ul.sept{
    margin-top: 1%;
    margin-left: 1%;
    float: left;
    font-size: 10pt;
    max-width: 45%

  }

  .droite img.f{
    margin-left: 3%;
    margin-top: 10%;
    max-width: 40%;
    float: left;

  }

  .droite p.huit{
    margin-top: 10%;
    margin-left: 3%;
    float: left;

    }

    .droite ul.neuf{
      margin-left: 1%;
      float: left;
      font-size: 10pt;
      max-width: 45%

    }
