/* Styles css ( mise en forme ) de ma double page */

/*
Fonts dispo :

OpenSans

DejaVuSansMono
DejaVuSans
DejaVuSerif
DejaVuSerif-condensed

*/

.page{
  font-family: "aril=al";
  font-weight:normal;
  font-size: 11pt;
}

.gauche img.gauche{
  float: left;
  max-width:350px;
  min-height: 230px;
  margin-top: 1%;
  margin-left:3%;
  margin-right: 3%;
  margin-bottom:8%;
}


.droite img.a{
  float: left;
  width: 220px;
  min-height: 100px;
  margin-left: 3%;
  margin-right: 3%;
  margin-top: 220px;
}

.droite img.droite{
  float: right;
  width: 700px;
  min-height: 200px;
  margin-left: 3%;
  margin-right: 5px;
  margin-top: 50px;
}


.droite{
}


.gauche {


}


h1{
  font-size:42pt;
  font-weight: lighter;
}

h2{
  font-size:25pt;
  font-weight: lighter;
}

p.par-1{
  font-style: normal;
  font-size: 11pt;
  line-height:12pt;
  text-align: justify;
  margin-left: 15%;
  margin-right: 5%;
  margin-top: 5%;
}

p.par-2{
  font-style: normal;
  font-size: 11pt;
  line-height:12pt;
  text-align: justify;
  margin-left: 15%;
  margin-right: 5%;
}

p.par-3{
  font-style: normal;
  font-size: 11pt;
  line-height:12pt;
  text-align: justify;
  margin-left: 15%;
  margin-right: 5%;
}

p.par-4{
  font-style: normal;
  font-size: 11pt;
  line-height:12pt;
  text-align: justify;
  margin-left: 30%;
  margin-right: 5%;
  margin-top: 31%;
}

p.par-5{
  font-style: normal;
  font-size: 11pt;
  line-height:12pt;
  text-align: justify;
  margin-left: 30%;
  margin-right: 5%;
}

.texte{
  width: 70%;
  float: right;
}
