/* Styles css ( mise en forme ) de ma double page */

/*
Fonts dispo :

OpenSans

DejaVuSansMono
DejaVuSans
DejaVuSerif
DejaVuSerif-condensed

*/

.page{
  font-family: "Arial";
  font-weight:lighter;
  font-size: 14pt;
}

body{
  background-color:beige;
    /*hsla(270, 0%, 25%, .100);*/
  }
  .page{
    background-color:beige;
  }

.droite{
}


.gauche{

}


h1{
  font-size:42pt;
  font-weight: lighter;
}
.gauche img.a{
  width:70mm;
  height:70mm;
  position:absolute;
  top:65mm;
  right:0mm;

}
.gauche img{
  width:50mm;
  height:50mm;
  position:absolute;
  top:0mm;
  right:0mm;

}
.droite img.b{
  width:70mm;
  height:60mm;
  position:absolute;
  top:10mm;
  right:0mm;
  }
  .droite img.c{
    width:70mm;
    height:50mm;
    position:absolute;
    top:75mm;
    right:0mm;
    }
    .droite img.d{
      width:70mm;
      height:40mm;
      position:absolute;
      top:150mm;
      right:0mm;
      }
      .droite img.e{
        width:70mm;
        height:40mm;
        position:absolute;
        top:200mm;
        right:0mm;
        }
