/* Styles css ( mise en forme ) de ma double page */

/*
Fonts dispo :

OpenSans

DejaVuSansMono
DejaVuSans
DejaVuSerif
DejaVuSerif-condensed

*/

.page{
  font-family: "DejaVuSans";
  font-weight:normal;
  font-size: 12pt;
}

.droite{
}


.gauche{

}


h1{
  font-size:42pt;
  font-weight: lighter;
}

body #pages .paper .gauche img{

  width:70mm;
}

.droite img{
  width:50mm;
}

.chamonix img {
  width:95%;
}

.pitch{
  text-align: justify;
  margin-left: 30%;
  margin-right: 30%;

}

p.lu {
  text-align:justify;
  margin-top: 20%;
  margin-left: 55%;
  margin-right: 10%;
}

p.lut {
  text-align:justify;
  margin-top:10%;
  margin-left: 55%;
  margin-right: 10%;
}

.genoise img {
  margin-top:-90%;
}

.finger img {
  margin-top:-30%;
}
