/* Styles css ( mise en forme ) de ma double page */

/*
Fonts dispo :

OpenSans

DejaVuSansMono
DejaVuSans
DejaVuSerif
DejaVuSerif-condensed

*/

.page{
  font-family: "Helvetica";
  font-weight:normal;
  font-size: 10pt;
  text-align: left;
}

.droite{
}


.gauche{

}
img.b{
  width:125%;

}


h1{
  font-size:30pt;
  font-weight: lighter;
  text-align:center;
}
.gauche img.a{
  width: 100%;
}

.gauche img{
  width:100%;
}

.droite img.a{
  width:100%;
  margin-top: 10%;
}
