/* Styles css ( mise en forme ) de ma double page */

/*
Fonts dispo :

OpenSans

DejaVuSansMono
DejaVuSans
DejaVuSerif
DejaVuSerif-condensed

*/
h1{
  font-family: "Futura Hv Bt";
  font-size: 14pt;
  text-align: center;
}

.body{
  font-family: "Futura Lt Bt";
  font-weight:normal;
  font-size: 12pt;
  text-align:justify;
}

.droite{
  background-color: rgba(255, 145, 123, 2.90);
}

.droite img{
  width:74mm;
  height:105mm
}

h2{
  font-size:35pt;
  font-weight: bolder;
}

.gauche{
background-color: rgba(255, 207, 100, 2.90);
}


h1{
  font-size:35pt;
  font-weight: bolder;
}

.gauche img{
  width:74mm;
  height:105mm;


}
#image1{
padding-left: 30%
}

#image2{
padding-left: 30%
}

#image3{
  width: 140mm;
  padding-left:10%
}

#image4{
  height: 40mm;
}

#centrage_images
{
  padding-left: 10%
}
