/* Styles css ( mise en forme ) de ma double page */

/*
Fonts dispo :

OpenSans

DejaVuSansMono
DejaVuSans
DejaVuSerif
DejaVuSerif-condensed

*/

.page{
  background-color:black;

  font-family: "Arimo";
  font-weight:Regular;
  color: white;
  font-size: 12pt;
}

.droite{
}


.gauche{

}


h1{
  font-family: "Lobster";
  font-weight:bold;
  color:white;
  font-size:42pt;

}

.gauche img{
  width:65mm;
}
.droite img{
  width:65mm;

}
